.container {
  display: grid;
  grid-template-columns: 1fr 95%;
  grid-template-rows: 85vh 15vh;
  grid-template-areas:
    'navigation main'
    'footer footer';
}


.navigation {
  background-color: #201c33;
  grid-area: navigation;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main {
  background: #161326;
  grid-area: main;
}


.footer {
  background: #201c33;
  grid-area: footer;
}

.icon {
  color: white;
  font-size: 20px;
  margin: 10px 0;
}