.container {
  display: grid;
  grid-row: 10vh 60vh 30vh;
  background-color: rgba(0, 0, 0, 0.5);
}


.navigation {
  background-color: #201c33;
  grid-row: 1;
}

.main {
  grid-row: 2;
}


.footer {
  grid-row: 3;
  min-height: 400px;
}